body {
  background-color: #f7f7f7;
}

#nav-bar-btn {
  margin: 10px;
}
.line {
  border-left: 3px solid #007bff;
  height: 34px;
  margin: 12px 0px;
}
.Three-lines {
  display: flex;
  justify-content: space-evenly;
  width: 35px;
  height: 35px;
  margin-top: 14px;
}
.l {
  width: 4px;
  background-color: #007bff;
  height: 30px;
}
#cal {
  text-align: right;
}
#time_date {
  padding: 25px 25px;
}
.col-6 h5 {
  font-weight: 400;
}
#UTC {
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
}
#cal p img {
  margin-left: 10px;
}
#cal p a {
  width: 82px;
  color: #000;
  font-weight: 700;
  padding: 9px;
  margin-left: 10px;
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

.box-01 {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ec5125;
}
.box-01,
.box-02,
.box-03 h5 {
  color: #fff;
}
.fa-link:before {
  color: #fff;
  font-size: 70px;
}
.fa-solid,
.fas {
  margin: 15px 0;
}
.fa-wifi:before {
  content: "\f1eb";
  color: #fff;
  font-size: 70px;
}
.box-01 h5 span {
  font-size: 24px;
}
.box-02 h5 span {
  font-size: 24px;
}
.box-03 h5 span {
  font-size: 24px;
}
.box-02 {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #30cc3b;
}

.box-03 {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0863b4;
}
.information {
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading h5 {
  font-size: 17px;
}
.heading h2 {
  text-align: right;
  font-size: 16px;
  color: #ec5125;
}
.section-01 {
  margin-top: 15px;
}
.section-01 h5 {
  font-size: 17px;
}
.section-01 h2 {
  text-align: right;
  font-size: 12px;
  color: grey;
}
.section-02 {
  margin-top: -10px;
}
.section-02 p {
  font-size: 13px;
  color: grey;
}
.section-03 h5 {
  font-size: 17px;
  color: #007bff;
}
.section-03 p {
  font-size: 13px;
  color: grey;
}
.section-03 img {
  float: right;
  margin-left: 5px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.horizontal_line hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  border-top: 1px solid #fff;
}
.sec-01 h5 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.sec-01 p {
  margin-top: -4px;
  text-align: right;
  font-size: 12px;
  color: gray;
  margin-bottom: 0px;
}
.sec-01 p button {
  font-size: 15px;
  background-color: #f15324;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
}
.top-content {
  height: 444px;
}
.sec-02 {
  text-align: center;
  padding: 80px 0;
}
.sec-02 h5 {
  padding-top: 15px;
}
.sec-02 p span a {
  color: #f15324;
  font-weight: 500;
}
/* media queries */
/* 1179 */
@media screen and (max-width: 1200px) {
  .sec-01 h5 {
    font-size: 16px;
  }
  .sec-01 p button {
    font-size: 14px;
    padding: 4px;
  }
  .sec-01 p {
    font-size: 13px;
  }
}
/* 980 */
@media screen and (max-width: 992px) {
  .card {
    margin-bottom: 10px;
  }
  .sec-01 h5 {
    font-size: 14px;
  }
  .sec-01 p {
    font-size: 11px;
  }
  .sec-01 p button {
    font-size: 11px;
    padding: 3px;
    font-weight: 600;
  }
  .sec-02 h5 {
    padding-top: 15px;
    font-size: 18px;
  }
  .sec-02 p {
    font-size: 15px;
    margin-top: -8px;
  }
  .box-01 h5 {
    color: #fff;
    font-size: 16px;
  }
  .box-02 h5 {
    color: #fff;
    font-size: 16px;
  }
  .box-03 h5 {
    color: #fff;
    font-size: 16px;
  }
  .box-03 h5 span {
    font-size: 20px;
  }
  .box-02 h5 span {
    font-size: 20px;
  }
  .box-01 h5 span {
    font-size: 20px;
  }
}
#time_date h5 {
  font-size: 18px;
}
#time_date p {
  font-size: 15px;
}
#date {
  padding-top: 14px;
}
#cal p a {
  width: 70px;
}
#cal p img {
  margin-left: 5px;
}
.fa-link:before {
  color: #fff;
  font-size: 50px;
}
.fa-wifi:before {
  content: "\f1eb";
  color: #fff;
  font-size: 50px;
}
/* 720 */
@media screen and (max-width: 768px) {
  .section-03 h5 {
    font-size: 14px;
    color: #007bff;
  }
  .heading h5 {
    font-size: 20px;
  }
  .heading h2 {
    font-size: 16px;
  }
  .section-01 h5 {
    font-size: 17px;
  }
  .section-01 {
    margin-top: 0px;
  }
  .section-02 p {
    font-size: 14px;
  }
  .section-03 h5 {
    font-size: 16px;
  }
  .section-03 img {
    width: 20px;
  }
  .top-content {
    height: 367px;
  }
  .sec-02 {
    text-align: center;
    padding: 65px 0;
  }
  .sec-01 h5 {
    font-size: 17px;
  }
  .sec-01 p button {
    font-size: 14px;
    padding: 4px;
  }
  .sec-01 p {
    font-size: 13px;
  }
  .box-01 h5 {
    color: #fff;
    font-size: 22px;
  }
  .box-02 h5 {
    color: #fff;
    font-size: 22px;
  }
  .box-03 h5 {
    color: #fff;
    font-size: 22px;
  }
  .box-01 h5 span {
    font-size: 26px;
  }
  .box-02 h5 span {
    font-size: 26px;
  }
  .box-03 h5 span {
    font-size: 26px;
  }
  .fa-link:before {
    color: #fff;
    font-size: 80px;
  }
  .fa-wifi:before {
    content: "\f1eb";
    color: #fff;
    font-size: 70px;
  }
}
/* 500 */
@media screen and (max-width: 767px) {
  .sec-01 h5 {
    font-size: 15px;
  }
  #time_date p {
    font-size: 14px;
  }
}
/* 365 */
/* @media screen and (max-width: 365px) {
    } */
